* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;  
}

h2 {
    margin-bottom: 5%;
}

h3 {
    text-align: right;
}

h4 {
    text-align: left;
}

button {
    margin-top: 5%;
    background-color: navy;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
}

li:hover {
    text-decoration: underline;
    font-weight: bold;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 500px;
    height: auto;
}

.hide {
    display: none;
}

.place-left {
    text-align: left;
}

.place-center {
    text-align: center;
}

@media screen and (max-width: 800px) {
    .card {
        width: auto;
    }
}