* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

header {
    width: 100vw;
    height: auto;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;  
}

h2 {
    margin-bottom: 5%;
}

h3 {
    position: absolute;
    top: 0px;
    right: 100px;
    text-align: right;
}

h4 {
    text-align: left;
}

button {
    margin-top: 5%;
    background-color: navy;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
}

li {
    margin: 10px;
    padding: 0 20px;
}

li:hover {
    text-decoration: underline;
    font-weight: bold;
}

.card {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: auto;
    padding: 5px;
}

.hide {
    display: none;
}

.place-left {
    text-align: left;
}

.place-center {
    text-align: center;
}

.list {
    display: block;
    width: 250px;
    height: auto;
    margin: 0 30px;
    text-align: left;
}

@media screen and (max-width: 900px) {
    .card {
        width: 100%;
        height: auto;
    }

    h3 {
        right: 30px;
    }
}